/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #202020;
}
nav {
    background-color: ;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(34, 37, 41);
}

.card {
    background-color: rgb(34, 37, 41);
}

.card-body {
    color: rgb(241, 241, 241) !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
  
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}